.first_menu {
    margin: 15px;
}

.row_padding {
    padding-top: 30px;
}

.row_padding .navbar-header {
    padding: 0 15px;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.header .fa {
    font-size: 29px;
    color: #18afd3;
    width: 55px;
    height: 55px;
    margin-left: -10px;
    padding: 10px;
    border-radius: 100%;
    background: #e5e5e5;
    text-align: center;
}

.menu {
    background: #18afd3;
    border: 1px;
    border-radius: 5px;
}

.menu .nav>li>a:focus {
    background: #f57e57;
}

.menu .nav>li>a:hover {
    background: #f57e57;
}

.menu .nav>li:last-child>a:focus {
    background: #18afd3;
}

.menu .nav>li:last-child>a:hover {
    background: #18afd3;
}

.menu .nav-pills {
    padding: 0 10%;
}

.menu li a {
    padding: 15px;
    color: white;
    border-radius: 0px;
}

.menu .dropdown {
    position: relative;
    display: inline-block;
}

.menu .dropdown .col-md-12 {
    padding-left: 0px;
}

.menu .dropdown .col-md-2 {
    border-bottom: 1px solid #f57e57;
}

.menu .dropdown .col-md-10 {
    border-bottom: 1px solid rgba(245, 126, 87, 0.2);
}

.menu .dropdown .col-md-12 i {
    margin-right: 15px;
    opacity: 0;
    width: 0px;
    margin-right: 15px;
    transition: all 0.2s;
}

.menu .dropdown .col-md-12 a:hover {
    color: #f57e57;
}

.menu .dropdown .col-md-12 a:hover i {
    opacity: 1;
    width: 10px;
    transition: all 0.2s;
    display: inline-block;
}

.menu .dropdown-content {
    display: none;
    position: absolute;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: white;
}

.menu .dropdown-content i {
    margin: -20px;
    margin-right: 15px;
    opacity: 0;
    width: 0px;
    margin-right: 15px;
    transition: all 0.2s;
}

.menu .dropdown-content a {
    color: #18afd3;
    margin: 0px 16px;
    text-decoration: none;
    display: block;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.menu .dropdown-content a:hover {
    color: #f57e57;
}

.menu .dropdown-content a:hover i {
    display: inline-block;
    opacity: 1;
    width: 10px;
    transition: all 0.2s;
    display: inline-block;
}

.menu .dropdown-content a:nth-child(1) {
    border: 0px;
}

.menu .dropdown-content1 {
    display: none;
    position: absolute;
    left: -280px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: white;
}

.menu .dropdown-content1 a {
    color: #18afd3;
    padding: 12px 0;
    text-decoration: none;
    display: block;
}

.menu .dropdown:hover .dropdown-content {
    display: block;
}

.menu .dropdown:hover .dropdown-content1 {
    display: block;
}

.for_number {
    cursor: pointer;
    position: fixed;
    right: 18px;
    top: 20px;
    padding-left: 20px;
    z-index: 200;
}

.for_number span {
    display: none;
    height: 7px;
    width: 7px;
    background: #111;
    margin-bottom: 3px;
    border-radius: 100%;
}

.cole_none {
    display: none;
    background: white;
    position: fixed;
    top: 62px;
    right: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 250px;
    z-index: 1000;
    cursor: pointer;
    padding-left: 20px;
}

.pages li:hover i {
    opacity: 1;
    width: 10px;
    transition: all 0.2s;
    display: inline-block;
}

.galery li:hover i {
    opacity: 1;
    width: 10px;
    transition: all 0.2s;
    display: inline-block;
}

.blog li:hover i {
    opacity: 1;
    width: 10px;
    transition: all 0.2s;
    display: inline-block;
}

.menu .nav-pills .dropdown {
    position: relative;
    display: inline-block;
}

.menu .nav-pills .dropdown .col-md-12 {
    padding-left: 0px;
}

.menu .nav-pills .dropdown .col-md-2 {
    border-bottom: 1px solid #f57e57;
}

.menu .nav-pills .dropdown .col-md-10 {
    border-bottom: 1px solid rgba(245, 126, 87, 0.2);
}

.menu .nav-pills .dropdown .col-md-12 i {
    margin-right: 15px;
    opacity: 0;
    width: 0px;
    margin-right: 15px;
    transition: all 0.2s;
}

.menu .nav-pills .dropdown .col-md-12 a:hover {
    color: #f57e57;
}

.menu .nav-pills .dropdown .col-md-12 a:hover i {
    opacity: 1;
    width: 10px;
    transition: all 0.2s;
    display: inline-block;
}


/*sidebarrrrrrrrrrrrr*/

#sidebar {
    z-index: 200;
    background: white;
    width: 239px;
    height: 100vh;
    position: fixed;
    left: -239px;
    top: 0;
    transition: left 0.5s linear;
}

#sidebar .search {
    border: 1px solid lightsteelblue;
    border-radius: 5px;
    margin-bottom: 10px;
}

#sidebar .search i {
    color: #f57e57;
}

#sidebar .search input {
    border: 0px;
}

#sidebar ul li {
    margin-top: 20px auto;
    list-style: none;
    display: block;
    padding: 10px;
    margin-left: -37px;
}

#sidebar ul li img {
    margin: 20px auto;
}

#sidebar ul li a {
    text-decoration: none;
}

#sidebar ul li b {
    color: #f57e57;
}

#sidebar .fa-angle-down {
    padding-right: 20px;
    font-size: 25px;
    cursor: pointer;
}

#sidebar.visible {
    left: 0;
    transition: left 0.5s linear;
    overflow: scroll;
    overflow-x: hidden;
}

#sidebar-btn {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    margin: 20px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    transition: left 0.5s linear;
}

#sidebar-btn span {
    height: 2px;
    background: #111;
    margin-bottom: 5px;
    display: none;
}

#sidebar-btn.visible1 {
    left: 239px;
    transition: left 0.5s linear;
}

.pages,
.galery,
.blog {
    display: none;
}

.pages li i{
    opacity: 0;
    width: 0px;
    margin-right: 15px;
    transition: all 0.2s;
}
.galery li i{
    opacity: 0;
    width: 0px;
    margin-right: 15px;
    transition: all 0.2s;
}
.blog li i {
    opacity: 0;
    width: 0px;
    margin-right: 15px;
    transition: all 0.2s;
}

.pages li:hover i{
    opacity: 1;
    width: 10px;
    transition: all 0.2s;
    display: inline-block;
}
.galery li:hover i{
        opacity: 1;
    width: 10px;
    transition: all 0.2s;
    display: inline-block;
}
.blog li:hover i {
    opacity: 1;
    width: 10px;
    transition: all 0.2s;
    display: inline-block;
}

.cole_none i {
    color: #18afd3;
    border-radius: 100%;
    background: #e5e5e5;
    width: 50px;
    height: 50px;
    float: left;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
    margin-left: 20px;
    margin-right: 20px;
}


/*sidebarrrrrrrrrrrrrrrr*/

@media (min-width: 1199px) {
    .col-lg-offset-3 {
    margin-left: 0%;
}
.container-fluidd{
    width: 1149px
    }
    .btn.btn-default.square{
        margin-top: 15px;
    }
}


@media (max-width: 991px) {
    .header-background .col-md-12.col-sm-8{
        margin: 0
    }

    .first_footer .icons {
     margin-top: 0px !important; 
}
    .text_l_m {
        margin-top: 40px;
    }
    .first_footer{
        text-align: left;
    }
    .col-md-offset-0.col-md-12.col-xs-offset-3.col-xs-12.col-lg-offset-3.col-sm-8{
        margin-left: 0% !important;
    }
    .col-md-offset-0.col-md-12.col-xs-offset-3.col-xs-12.col-lg-offset-3{
        margin: 0;
    }
    .col-md-8.col-sm-8{
        margin-left: 20%;
    }
    .btn.btn-default.btn-sm{
        margin-top: 25px;
    }
    

    .header-background.container-fluid{
        width: 100%;
    background: url(../images/typology/home-03-320x320.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 198px;
    position: absolute;
    top: 70px;
    z-index: -1;
    }
    body{
        text-align: center;
    }
    .for_number span {
        display: block;
    }
    .menu {
        display: none;
    }
    #sidebar-btn span {
        display: block;
    }
    .header {
        width: 100vw;
        background: white;
        position: fixed;
        z-index: 70;
    }
    .header .col-md-7 {
        display: none;
    }
    .header img {
        width: 130px
    }
}


/*FOOTER*/

.footer .text_l i {
    color: #f57e57;
    float: left;
    margin-right: 7px;
    width: 24px;
    font-size: 20px;
}

.first_footer_p_rg {
    color: rgba(255, 255, 255, 0.498039) !important;
}

.first_footer {
    color: rgba(255, 255, 255, 0.498039);
    fill: rgb(3, 142, 175);
    background: rgb(3, 142, 175);
}

.first_footer .pull-right {
    padding-top: 50px;
}

.first_footer .end {
    line-height: 58px;
}

.first_footer .border {
    border-top: 1px solid lightslategrey;
    margin-top: 45px;
}

.first_footer .icons {
    margin-top: 30%;
}

.first_footer .icons p {
    float: left;
    margin: 0 5px;
    font-size: 21px;
    color: lightslategrey;
}

.first_footer .icons .fa {
    transition: .3s;
    padding: 10px;
    width: 45px;
    height: 45px;
    border: 1px;
    border-radius: 100%;
    text-align: center;
    background: white;
}

.first_footer .icons .fa:hover {
    background: #f57e57;
    color: white;
}

.first_footer .logotext {
    padding-top: 7px;
}

.first_footer .logotext i {
    color: #f57e57;
    float: left;
    margin-right: 7px;
    width: 24px;
    font-size: 20px;
}

.first_footer .logotext:hover {
    text-decoration-line: underline;
}

.first_footer .logotext .link {
    color: #f57e57;
}

.first_footer .col-md-2 {
    border-bottom: 1px solid #f57e57;
    margin-bottom: 23px;
}

.first_footer .col-md-10 {
    border-bottom: 1px solid navajowhite;
    margin-bottom: 23px;
}

.first_footer .col-md-12 {
    padding: 0px;
}

.first_footer .col-md-4:last-child p {
    color: lightsteelblue;
    line-height: 25px;
}

.first_footer input {
    color: black;
    padding: 11px;
    border: 1px solid orangered;
    border-radius: 3px;
    margin-top: 3px;
    position: relative;
}

.first_footer .btn-warning {
    padding-top: 11px;
    padding-bottom: 13px;
    margin-top: 3px;
    position: absolute;
    right: 4px;
    background: orangered;
    border-color: orangered;
}

.margin_zero {
    margin: 0;
}

.cursor {
    cursor: pointer;
}

.first_footer p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    padding-bottom: 15px;
}

.first_footer .btn-warning:hover {
    color: #fff;
    background-color: #55bbeb;
    border-color: #55bbeb;
}

.header-background {
    width: 100%;
    background: url("../images/typology/home-03-320x320.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 325px;
    position: absolute;
    top: 150px;
    z-index: -1;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.typ_middle {
    background-color: rgba(0, 191, 255, 0.4);
    height: 100%;
}

.typ_middle h1 {
    color: white;
    font-size: 66px;
    font-weight: 500;
    padding: 4% 0px;
}

.typ_middle pre {
    font-size: 16px;
    background: transparent;
    border: 0px;
    color: white;
}

.typ_middle pre i {
    font-size: 10px;
    font-color: grey;
}


/*ESAS HISSE*/

.buttons .col-md-8 .col-md-1 {
    padding: 0;
}

.buttons .col-md-8 .col-md-12 {
    padding: 0;
}

.buttons .col-md-8 .col-md-1 {
    border-bottom: 1px solid #f57e57;
    margin-bottom: 25px;
}

.buttons .col-md-8 .col-md-11 {
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    margin-bottom: 25px;
}

.buttons button {
    font-weight: 1000;
}

.buttons .btn-default {
    background: #f57e57;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    padding: 7px 35px;
    border-radius: 29px;
}

.buttons .btn-default:hover {
    background: #18afd3;
    transition: ease 0.4s;
}

.buttons .btn-default:active {
    background: #18afd3;
    color: white;
    box-shadow: none;
}

.buttons .btn {
    color: white;
    margin-right: 20px;
    border: 0px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.buttons .btn-lg {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    padding: 15px 35px;
    border-radius: 23px;
}

.buttons .btn-sm {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    border-radius: 20px;
    padding: 9px 17px;
}

.buttons .round {
    border-radius: 5px;
}

.buttons .square {
    border-radius: 0px;
}

.buttons .left i {
    padding-left: 22px;
    font-size: 23px;
}

.buttons .right i {
    padding-right: 22px;
    font-size: 23px;
}

.buttons .default {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 110px;
}



@media (max-width: 332px) {
    .first_footer{
        text-align: left;
    }
    .btn.btn-warning.col-md-4{
        right: -12px;
    }
    .col-md-offset-0.col-md-12.col-xs-offset-3.col-xs-12.col-lg-offset-3{
        margin: 0;
    }
    .header-background {
    width: 100%;
    background: url(../images/typology/home-03-320x320.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 215px;
    position: absolute;
    top: 70px;
    z-index: -1;
}
.btn.btn-default.btn-lg{
    margin-bottom: 15px
}
.btn.btn-default{
    margin-bottom: 15px;
}
body{
    text-align: center;
}
.first_footer .btn-warning{
        right: -60px;
}
.btn{
        padding: 5px 0px;
    font-size: 15px;

}

}

@media (max-width: 371px) {
.btn.btn-default.btn-lg{
    margin-bottom: 15px
}
.btn.btn-default{
    margin-bottom: 15px;
}
body{
    text-align: center;
}
.first_footer .btn-warning{
        right: -60px;
}
.btn{
        padding: 5px 0px;
    font-size: 15px;

}

}

@media (max-width: 577px) {
.btn.btn-default.btn-lg{
    margin-bottom: 15px
}
.btn.btn-default{
    margin-bottom: 15px;
}
body{
    text-align: center;
}
.first_footer .btn-warning{
        right: -60px;
}
.btn{
        padding: 5px 0px;
    font-size: 15px;

}

}



@media (max-width: 1199px) {
.menu .nav-pills {
    padding: 0px;
}
.menu li a{
    padding: 10px;
}
ul.nav.nav-pills{
    margin-left: 40px;
}
}